.ss-section-header {
    margin: 40px auto 50px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
@media (max-width: 760px) {
    .ss-section-header {
        margin: 10px auto;
        font-size: 15px;
    }
}
